################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication/obj
/EmailValidator/obj
/.vs/EmailValidator
/ConsoleApplication/bin/Debug/net9.0
/EmailValidator/bin/Debug
